<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200588041687-lsqmlpulqrl7q92crrdu1c6hks83tfon.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200588041687-lsqmlpulqrl7q92crrdu1c6hks83tfon</string>
	<key>API_KEY</key>
	<string>AIzaSyAOl1Gm5qTb1hCZsxSYB9_J7zW39qhTa5k</string>
	<key>GCM_SENDER_ID</key>
	<string>200588041687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juanmanuel.sevenHub</string>
	<key>PROJECT_ID</key>
	<string>factordigitaladv-43e26</string>
	<key>STORAGE_BUCKET</key>
	<string>factordigitaladv-43e26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200588041687:ios:9c67d45c4e0d5558cd3f92</string>
	<key>DATABASE_URL</key>
	<string>https://factordigitaladv-43e26.firebaseio.com</string>
</dict>
</plist>